<div id="padding">
    <div class="textbox">
        <ul>
            <li>
                <a href="https://api.imgur.com/">General Information</a>
            </li>
            <li>
                <a href="https://api.imgur.com/oauth2">Authentication and OAuth 2.0</a>
            </li>
            <li>
                <a href="https://api.imgur.com/endpoints">API Endpoints</a>
            </li>
            <li>
                <a href="https://api.imgur.com/models">Data Models</a>
            </li>
            <li>
                <a href="https://api.imgur.com/globalparams">Global Parameters</a>
            </li>
            <li>
                <a href="https://api.imgur.com/errorhandling">Error Handling</a>
            </li>
            <li>
                <a href="#" class="green">Test Console</a>
            </li>
        </ul>
    </div>
</div>
